@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Open+Sans');

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
	line-height: 1.4;
}

body {
	max-width: 100%;
	background-image: url(../img/cardboard_texture-black.png);
	color: #372f3d;
}

h1 {
	font-size: 3.375em;
	line-height: 1.2;
	font-weight: 300;
	color: #fff;
	letter-spacing: 0.75rem;
}

h2 {
	font-size: 2.25em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 0.75em;
	padding: 1.5em 0 0.75em 0;
}

h5 {
	font-size: 0.5em;
	padding: 0.75em 0;
}

h1, h2, h3 {
	font-family: 'Poppins', sans-serif;
}

h2, h3 {
	font-weight: 500;
	letter-spacing: 0.25rem;
}

h4, h5 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	margin: 0.5em 0;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	line-height: 1.8;
}

ul {
	list-style-type: none;
}

li {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 2;
}

a {
	text-decoration: none;
}

a:link {
	color: #008a3e;
}

a:visited {
	color: #1b1b1b;
}

a:hover {
	color: #0089ce;
}

a:active {
	color: #ff6c8f;
}

.emphasis {
	font-family: 'Poppins', sans-serif;
	font-size: 1.25em;
	font-weight: 900;
}

.header-1 {
	background-image: url(../img/background-1.jpg);
	background-position: center left;
}

.header-1 a:link {
	color: #fff;
}

.header-2 {
	background-image: url(../img/background-2.jpg);
}

.header-1, .header-2 {
	position: relative;
	width: 100%;
	height: 36em;
	background-repeat: no-repeat;
	object-fit: cover;
}

.header {
	display: none;
}

.mobile-header {
	width: 100%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
	text-align: center;
}

.mobile-nav {
	width: 100%;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -60%);
	text-align: center;
}

.mobile-nav li {
	display: inline-block;
	padding: 1em;
	font-size: 1em;
	text-transform: uppercase;
}

.mobile-nav a:visited {
	color: #fff;
}

.header-2, .main-nav {
	display: none;
}

.content, .content-about, .content-page {
	width: 100%;
	margin: 0 auto;
}
.content, .content-page {
	padding: 1em;
}

.content h2, .content-about h2 {
	font-size: 1.75em;
	padding-bottom: 0.75em;
}

.content h3, .content-about h3 {
	font-size: 2em;
}

.content p, .content-about p {
	line-height: 1.6;
	font-size: 1.05em;
}

.content img, .content-about img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
	padding: 1em;
}

.white-card {
	display: none;
}

/* .about {
	background-image: url(../img/tape-6.png);
}

.works {	
	background-image: url(../img/tape-5.png);
	background-size: contain;
}

.contact {
	background-image: url(../img/tape-4.png);
	background-position: left center;
	background-size: contain;
}

.about, .works, .contact {
	width: 100%;
	text-transform: uppercase;
	background-repeat: no-repeat;
	padding: 1em;
	font-size: 1.5em;
	margin-top: 0.5em;
} */

.footer {
	width: 100%;
	background-image: url(../img/cardboard_texture-black.png);
	background-size: cover;
}

.footer p {
	color: #fff;
	font-size: 0.75em;
	text-align: center;
	padding: 0.5em;
}

.social-nav {
	padding: 1.5em;
	max-width: 100%;
	color: #fff;
}

.social-nav ul {
	text-align: center;
}

.social-nav li {
	display: inline-block;
	padding: 0 1.25rem;
	font-size: 2em;
}

.mobile-about, .mobile-works, .mobile-contact {
	padding-bottom: 4em;
}

.mobile-about, .mobile-works {
	background-image: url(../img/background-4.jpg);
	background-size: cover;
	background-position: center right;
}

.mobile-works {
	height: 72em;
}

.mobile-contact {
	background-image: url(../img/cardboard_texture-black.png);
}
 
.mobile-contact .fa, .mobile-contact h2 {
	color: #fff;
}

.works-list {
	width: 100%;
	text-align: center;
}

.works-list li {
	display: inline-block;
	margin: 0 0.25em;
	font-size: 1.25em;
}

.works-list a:link {
	color: #000;
}

.content-block {
	display: none;
}

.content-block:target {
	display: block;
	width: 100%;
	padding: 0 1em;
}

.offset {
	margin: 1em;
}


.content-block-about, .content-block-works, .content-block-contact {
	display: none;
}

.content-block-about:target, .content-block-works:target, .content-block-contact:target {
	display: none;	
}

.works-visual, .works-audio, .works-web {
	display: none;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table; 
}

.clearfix:after {
    clear: both;
}

/* Media queries */

/* New Mobile */

@media screen and (min-width: 360px) {
	.header-1, .mobile-about {
		height: 48em;
	}
	
	.header-1 {
		background-image: url(../img/background-1.jpg);
		background-attachment: fixed;
		background-position: right center;
	}
}

/* Tablet */
@media screen and (min-width: 768px) {
	
	html {
		font-size: 1.05em;
	}
	
	
	.header-1 {
		height: 64em;
	}
	
	.mobile-nav li {
		font-size: 1.25em;
	}
	
	.content-about {
		max-width: 45%;
		max-height: 400px;
		float: left;
	}
	
	.content h2 {
		font-size: 2em;
	}
	
	.content-about p {
		font-size: 1.25em;
	}
	
	.content-about img {
		padding: 1.5em;
	}
	
	.social-nav {
		padding-top: 3em;
	}
	
}

/* Desktop */

@media screen and (min-width: 1024px) {
	
	html {
		font-size: 0.85em;
	}
	
	h1 {
		font-size: 3.75em;
	}
	
	h2 {
		font-size: 2em;
	}
	
	h3 {
		font-size: 1.5em;
	}
	
	h4 {
		font-size: 1.25em;
	}
	
	.mobile-header {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.header-2 a:link {
		color: #000;
	}

	.header-2 a:visited {
		color: #000;	
		}

	.header-2 a:hover {
		color: #0089ce;
	}

	.header-2 a:active {
		color: #ff6c8f;
	}

	.header-1 {
		background-attachment: local;
	}
	
	.header-2 {
		display: block;
	}
	
	.mobile-nav, .mobile-works, .mobile-about, .mobile-contact {
		display: none;
	}
	
	.header-1, .header-2 {
		position: relative;
		width: 50%;
		height: 100vh;
		float: left;
		background-position: center;
		object-fit: cover;
	}
	
	.main-nav {
		display: block;
		/* position: fixed;
		top: 0;
		left: 20%;
		transform: translateX(-20%);
		z-index: 250; */
	} 
	
	.main-nav ul {
		width: 600px;
		padding: 0;
	}
	
	.main-nav li {
		display: inline-block;
		font-size: 0.75em;
		padding: 0.25em 2em;
		text-align: center;
	}
	
	.main-nav a:link {
		color: #000;
		font-weight: 600;
	}
	
	.vertical-text-left {
		transform: rotate(-90deg);
		transform-origin: left top 0;
		text-align: center;
		font-size: 1.5em;
		font-weight: 900;
		color: #000;
		z-index: 100;
		position: absolute;
		top: 75%;
		left: 0;
		width: 200px;
		float: left;
		padding: 0.5em;
	}

	.white-card {
		display: block;
		width: 40px;
		height: 100vh;
		background-color: white;
		position: absolute;
		left: 0;
		top: 0;
	}
	
	.about, .works, .contact {
		font-size: 1.5em;
	}
	.content {
		width: 70%;
		margin: 0;
		padding: 0;
		font-size: 1.15em;
	}
	
	.content-about {
		width: 45%;
		height: auto;
		float: left;
	}
	
	.content-about h2 {
		padding-bottom: 1em;
	}
	
	.content-about img {
		max-width: 100%;
		padding: 0;
		margin: 0;
	}
	
	.content-block-about:target, .content-block-works:target, .content-block-contact:target {
		display: block;
		width: 50%;
		height: 100vh;
		position: absolute;
		top: 0;
		right: 0;
		object-fit: cover;
	}
	
	.content-block-contact:target a:link {
		color: #000;
	}

	/* .content-block-about:target {
		background-image: url(../img/wall-1.jpg);
		background-size: cover;
		background-position: center right;
	}

	.content-block-works:target {
		background-image: url(../img/wall-2.jpg);
		background-size: cover;
		background-position: center right;
	} */
	
	.content h3 {
		font-size: 1.5em;
		font-weight: 900;
	}
	
	.works-list li {
		display: inline-block;
		margin: 0 0.25em;
		font-size: 1.5em;
	}
	
	.works-visual {
		display: none;
	}

	.works-visual:target, .works-audio:target, .works-web:target  {
		display: block;
		width: 50%;
		height: 100vh;
		position: absolute;
		top: 0;
		right: 0;
		object-fit: cover;
		z-index: 1000;
		background-image: url(../img/wall-3.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		padding: 4em;
	}
	
	.works-visual:target h3, .works-audio:target h3, .works-web:target h3 {
		font-size: 1.75em;
	}
	
	.works-audio:target h3, .works-web:target h3 {
		margin: 1em 0;
	}
	
	.works-visual:target h5, .works-audio:target h5, .works-web:target h5 {
		font-size: 0.95em;
	}
	
	.back-to-top {
		font-size: 1.05em;
		font-weight: 900;
		float: right;
	}
	
	.works-visual:target {
		overflow: auto;
	}
	
	.works-audio {
		display: none;
	}
	
	.works-audio:target {
		display: block;
	}
	
	.works-web {
		display: none;
	}
	
	.works-web:target {
		display: block;
	}
	
	.container, .works-container {
		position: absolute;
		top: 60%;
		transform: translateY(-60%);
		width: 100%;
		padding-left: 4em;
		height: 25em;
	}
	
	.works-container ul {
		padding-top: 4em;
	}
	
	.sections {
		border-bottom: 1px dotted black;
	}
	
	.social-nav {
		padding: 0;
	}
	
	.social-nav li {
		padding: 1em 2em;
		margin: 0;
	}
	
	.footer {
		display: none;
	}
} 