body {
	background-color: $blue;
}

body {
	
	@include large-mobile {
		background-color: $green;
	}
	
	@include tablet {
		background-color: $purple;
	}
	
	@include laptop {
		background-color: $pink;
	}
	
	@include desktop {
		background-color: $peach;
	}
	
	@include fullscreen {
		background-color: $brown;
	}
}