$blue: #b0e0e6;

$green: #00ff7f;

$purple: #9370db;

$pink: #f08080;

$peach: #ffefd5;

$brown: #a0522d;

$large-mobile-width: "screen and (min-width: 480px)";
$tablet-width: "screen and (min-width: 768px)";
$laptop-width: "screen and (min-width: 1024px)";
$desktop-width: "screen and (min-width: 1366px)";
$fullscreen-width: "screen and (min-width: 1680px)";