@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab');

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
	line-height: 1.4;
}

body {
	max-width: 100%;
	background-image: url(../img/cardboard_texture.jpg);
	color: #372f3d;
}

h1 {
	font-family: 'Josefin Slab', serif;
	font-size: 3.375em;
	line-height: 1.2;
	font-weight: 400;
	color: #fff;
}

h2 {
	font-family: 'Josefin Slab', serif;
	font-size: 2.25em;
}

h3 {
	font-family: 'Josefin Slab', serif;
	font-size: 1.5em;
}

p {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
}

ul {
	list-style-type: none;
}

li {
	font-family: 'Josefin Slab', serif;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 2;
}

a {
	text-decoration: none;
}

a:link {
	color: #fff;
}

a:visited {
	color: #ccc;
}

a:hover {
	color: #0089ce;
}

a:active {
	color: #ff6c8f;
}

.header-1 {
	background-image: url(../img/background-1.jpg);
	background-attachment: fixed;
	background-position: center;
}

.header-2, .mobile-section {
	background-image: url(../img/background-2.jpg);
	background-attachment: local;
}

.header-1, .header-2, .mobile-section {
	position: relative;
	max-width: 100%;
	height: 35.5em;
	background-repeat: no-repeat;
	background-size: cover;
}

.mobile-header {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.mobile-nav {
	width: 100%;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -75%);
	text-align: center;
}

.mobile-nav li {
	display: inline-block;
	margin: 1em;
	font-size: 1em;
}

.header-2, .main-nav {
	display: none;
}

.mobile-section {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	width: 100%;
}

.content h2 {
	width: 200px;
	text-transform: uppercase;
	background-image: url(../img/tape-6.png);
	background-repeat: no-repeat;
	padding: 0.75em 0 0 1.25em;
	font-size: 1.75em;
}

.content p {
	margin: 1em 2em;
	line-height: 1.6;
	font-size: 1.125em;
}

.content img {
	width: 95%;
	margin: 0 0.5em;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table; 
}

.clearfix:after {
    clear: both;
}

/* media queries */

/* Tablet */
@media screen and (min-width: 768px) {
	
	.header-1 {
		background-image: url (../img/background-3.jpg);
		background-position: right top;
	}
	
	.header-1, .mobile-section {
		width: 100%;
		height: 60em;
	}
	
	.mobile-nav li {
		font-size: 1.25em;
	}
	
	.content {
		width: 50%;
		float: left;
	}
	
	.content img {
		margin: 4em 0;
	}
	
	.content h2 {
		font-size: 2em;
	}
	
	.content p {
		font-size: 1.25em;
	}
}

/* Desktop */

@media screen and (min-width: 1024px) {
	
	html {
		font-size: 1.25em;
	}
	
	h1 {
		font-size: 2.25em;
	}
	
	h2 {
		font-size: 1.5em;
	}
	
	h3 {
		font-size: 1.25em;
	}
	
	.main-nav li {
		font-size: 0.95em;
		margin: 0.75em 0;
	}

	a:link {
		color: #fff;
	}

	a:visited {
		color: #515151;	
		}

	a:hover {
		color: #0089ce;
	}

	a:active {
		color: #ff6c8f;
	}

	
	.header-1 {
		background-attachment: local;
	}
	
	.header-2 {
		display: block;
		background-position: center;
	}
	
	.mobile-section, .mobile-nav {
		display: none;
	}
	
	.header-1, .header-2 {
		width: 50%;
		height: 100vh;
		float: left;
	}
	
	.main-nav {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
} 

@media screen and (min-width: 1280px) {

	html {
		font-size: 1.5em;	
		line-height: 1.6;
	}
	
}

@media screen and (min-width: 1680px) {
	
	.header-1, .header-2 {
		width: 50%;
		height: 100vh;
	}
}