.clearfix:before,
.clearfix:after {
    content: " ";
    display: table; 
}

.clearfix:after {
    clear: both;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Geneva, Tahoma, Helvetica, Arial, sans-serif;
	background-color: #000;
	background-image: url(../img/bg.gif);
	background-repeat: repeat-x;
	color: #fff;
	margin-bottom: 4em;
}

a:link {
	text-decoration: none;
}

a:link, a:visited {
	color: #d6751e;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1.05em;
}

h2, button, .panel li {
	text-transform: uppercase;
} 

.logo {
	max-width: 100%;
	max-height: 6.25em;
	padding: 1em 0;
	margin: 0.5em 0 0 0;
}

.hero {
	position: relative;
	max-width: 100%;
	height: 25em;
	overflow: hidden;
	margin-top: 6em;
}

.hero-button {
	position: absolute;
	right: 5%;
	bottom: 7%;
	transform: translate(-5%, -7%);
	background-color: #6d5797;
	border: 1px solid #fff;
	border-radius: 0.5em;
	color: #fff;
	font-size: 1em;
	padding: 0.5em;
}

.social-media, .button, .nav-button {
	width: 100%;
	background-color: #111;
}

.social-media {
	text-align: center;
	position: fixed;
	bottom: 0;
	z-index: 100;
}

i.fa-facebook, i.fa-twitter, i.fa-instagram, i.fa-twitch {
	color: #fff;
	font-size: 2em;
}

i.fa-facebook, i.fa-twitter, i.fa-instagram, i.fa-twitch {
	padding: 0.5em;
}

i.fa-bars {
	font-size: 1.75em;
	margin: 0.25em;
	position: absolute;
	top: 0;
	left: 0;
}

.button, .nav-button {
	cursor: pointer;
	padding: 1em;
	text-align: center;
	color: #fff;
	border: none;
	outline: none;
	font-size: 1em;
}

.panel {
	text-align: left;
	display: none;
}

.panel li {
	padding: 1.5em;
	font-size: 0.85em;
}

.main-nav {
	background-color: #111;
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	z-index: 125;
}

.main-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main-nav a, .hero-button a {
	color: #fff;
}

.section {
	max-width: 100%;
	margin-bottom: 1em;
}

.section h2 {
	width: 100%;
	margin: 0;
	padding: 0.25em;
}

.section h2, .panel {
	background-color: #402a65;
}

.article {
	margin: 1em;
}

.date, .footer p, .fa-bars {
	color: #755ba2;
}

form {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

input {
	width: 6em;
	height: 1.5em;
	margin-bottom: 1em;
	vertical-align: middle;
	border: none;
}

.submit {
	background-color: #8a6fb7;
	color: #fff;
	padding: 0.5em;
	margin: 0.5em 0.33em;
	cursor: pointer;
	border: 1px solid #999;
	float: right;
}

i.fa-envelope {
	float: right;
}

.footer {
	width: 100%;
	padding: 0 0 1em 0;
	background-color: #111; 
	font-size: 0.75em;
	text-align: center;
}

.footer li {
	text-transform: uppercase;
	list-style-type: none;
	width: 10em;
	margin: 0 auto;
	text-align: left;
}

.footer p {
	padding: 1em 0;
}
